h1 {
  color: #020617;
}

body {
  background: #f8fafc;
  color: #0f172a;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Droid Sans,
    Helvetica Neue, sans-serif;

  min-height: 100vh;
  min-width: 30px;
  margin: 0px 30px;
}

head {
  display: flex;
}

div {
  margin: auto;
  max-width: 1000px;
  align-items: center;
}

.onTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  margin: 0px;
}

.hello {
  display: block;
  width: 300px;
}

.aboutMe {
  flex-wrap: wrap;
  width: 90% !important;

  font-size: 16pt;
}

.avatar {
  max-width: 400px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.projectBox {
  height: 144px !important;
  min-width: 300px !important;
  background-color: #f1f5f9;
  border-radius: 0.5rem;
  margin-bottom: 2rem;

  box-sizing: border-box;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.08);

  /* background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 50) 0%,
    rgba(25, 37, 170, 0.333) 50%
  ); */
  display: flex;
}

.nome {
  display: flex;
  color: rgba(0, 0, 0, 1);
  justify-content: center;
}

.profilePhoto {
  display: flex;
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 100%;

  box-sizing: border-box;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.888);
}

.Profile {
  display: flex;
  justify-content: space-between;
}

.ReactLogo {
  display: flex;
  vertical-align: middle;
  width: 144px !important;
  height: 144px !important;
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.tecnologyIcon {
  box-sizing: border-box;
}

.tags {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  box-sizing: border-box;
  max-width: 70px;
  margin-left: 0px;
  margin-right: 0px;
}
