h1 {
  font-family: "Courier New", Courier, monospace;
}

body {
  background: rgba(26, 46, 166, 1) 100%;

  min-height: 100vh;
  min-width: 30px;
  margin: 0px 30px;
}

head {
  display: flex;
}

div {
  margin: auto;
  max-width: 1000px;
  align-items: center;
}

.onTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  margin: 0px;
}

.hello {
  display: block;
  width: 300px;
}

.aboutMe {
  color: aliceblue;
  flex-wrap: wrap;
  width: 90% !important;

  font-size: 16pt;
}

.avatar {
  max-width: 400px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.projectBox {
  height: 150px !important;
  min-width: 300px !important;
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 2rem;
  margin-bottom: 2rem;

  color: rebeccapurple;
  box-sizing: border-box;
  box-shadow: 6px 6px 2rem rgba(0, 0, 0, 0.888);

  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 50) 0%,
    rgba(25, 37, 170, 0.333) 50%
  );
}

.nome {
  display: flex;
  color: rgba(0, 0, 0, 1);
  justify-content: center;
}

.profilePhoto {
  display: flex;
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 100%;

  box-sizing: border-box;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.888);
}

.Profile {
  display: flex;
  justify-content: space-between;
}
